numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.14.1
lightgbm==4.5.0
tsfresh==0.20.2
lightkurve==2.4.2
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
streamlit==1.39.0
shap==0.45.1
plotly==5.24.1
